---
import Layout from '../layouts/PageLayout.astro';
import Container from '../components/common/Container.astro';
import HomeHero from '../components/heros/HomeHero.astro';
---

<Layout title="Welcome to Astro">
	<HomeHero />
	<Container>
		<section class="py-12 px-auto">
			<h2>Landing Pages</h2>
			<p>
				Use one of our landing pages to jumpstart your website or
				ad campaign.
			</p>
			<div class="grid grid-cols-2 gap-4">
				<p class="instructions">
					To get started, open the directory <code>src/pages</code> in your project.<br />
					<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
				</p>

				<p class="instructions">
					To get started, open the directory <code>src/pages</code> in your project.<br />
					<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
				</p>
				<p class="instructions">
					To get started, open the directory <code>src/pages</code> in your project.<br />
					<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
				</p>
				<p class="instructions">
					To get started, open the directory <code>src/pages</code> in your project.<br />
					<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
				</p>
	
			</div>
		</section>
	</Container>
</Layout>

