---
import { Icon } from 'astro-icon';

const { href, key, title, desc, icon } = Astro.props;
---

<div class=" text-slate-900 rounded-xl bg-opacity-50 h-60 px-16">
	<a class="cursor-pointer" {href}>
		<div class="flex flex-row">
			<Icon name={icon} width="24px" height="24px" />
			<h3 class="">{title}</h3>
		</div>
	</a>
</div>
