---
import { Icon } from 'astro-icon';

const { href, title, desc, icon } = Astro.props;
---

<div class="flex gap-4 items-start">
	<Icon
		name={icon}
		color="white"
		width="24px"
		height="24px"
		class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0"
	/>
	<div>
		<h3 class="font-semibold text-lg font-sans">{title}</h3>
		<p class="text-slate-500 mt-2 leading-relaxed">{desc}</p>
	</div>
</div>
