---
const { href, customIcon, target, submit} =
	Astro.props;

const Tag = href ? 'a' : 'button';
---

<Tag
	class="w-fit py-2 px-3 mb-0 flex align-middle justify-center bg-slate-800 text-white border-none rounded-xl font-medium cursor-pointer outline-none text-md"
	{href}
  target={target}
  type={submit && 'submit'}
>
	<slot />
	{
    customIcon && (
      <span class="ml-1 flex align-middle w-6">
        <slot name="icon">custom_icon</slot>
      </span>
    )
  }
</Tag>
